<h1> 🖖 <%= @employee.first_name+" "+@employee.last_name %></h1>

<h3> a.k.a: <%= @employee.alias %></h3>
<h3> Title: <%= @employee.title %></h3>
<h3> Office: <%= @employee.office %></h3>
<h3> Title: <%= @employee.title %></h3>
<h3> Dog: <%= link_to @dog.name, dog_path(@dog) %></h3>

<%= image_tag (@employee.img_url), class: "img-responsive" %>

<hr>
<%= link_to "Edit Employee", edit_employee_path %>
<hr>